body {
  /* border: 5px solid black; */
  font-family: sans-serif;
  line-height: 1.5;
}
.product {
  border: 3px solid black;
}
/* h2 {
  background-color: aliceblue;
  text-align: center;
} */
.product-title {
  background-color: aliceblue;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
/* a:link {
  color: black;
} */
.price {
  font-size: 24px;
}
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
/* a:link:hover {
  text-decoration: none;
} */
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
/* PRODUCT DETAILS*/
.details-title {
  text-transform: uppercase;
  font-size: 16px;
}
.details-list {
  list-style: square;
}
/* ul {
  list-style: square;
} */

/*Button*/
/* button {
  background-color: black;
  color: white;
}
button:hover {
  background-color: transparent;
  color: black;
} */
.add-cart {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.add-cart:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
