body {
  border: 5px solid black;
}
h2 {
  background-color: aliceblue;
  text-align: center;
}
a:link {
  color: black;
}
a:link:hover {
  text-decoration: none;
}
ul {
  list-style: square;
}
button {
  background-color: black;
  color: white;
}
button:hover {
  background-color: transparent;
  color: black;
}
